In [1]:
import os
import mysql.connector
from mysql.connector import Error
import webbrowser
from flask import Flask, render_template

In [2]:
password = os.environ.get('SQL Pass')

In [3]:
mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password=password,
  database="bincomphptest"
)

### 1. SOLUTION

In [20]:
conn = mysql.connector.connect(user='root', password=password, host='localhost', database='bincomphptest')

if conn:
    print("Connected Successfully")
else:
    print("Connection Not Established")

select_table = """SELECT * FROM announced_pu_results"""
cursor = conn.cursor()
cursor.execute(select_table)
result = cursor.fetchall()

# Dynamically generate table headers
describe_table = "DESCRIBE announced_pu_results"
cursor.execute(describe_table)
columns = cursor.fetchall()
header = "<tr>"
for column in columns:
    header += "<td>{}</td>".format(column[0])
header += "</tr>"

# Dynamically generate table rows
rows = ""
for row in result:
    row_html = "<tr>"
    for value in row:
        row_html += "<td>{}</td>".format(value)
    row_html += "</tr>"
    rows += row_html

# Concatenate header and rows to create the final HTML table
table = "<table>{}</table>".format(header + rows)

# Generate HTML file
contents = '''
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
<meta content="text/html; charset=ISO-8859-1" http-equiv="content-type">
<title>Python Webbrowser</title>
</head>
<body>
{}
</body>
</html>
'''.format(table)

filename = 'webbrowser.html'

def main(contents, filename):
    output = open(filename,"w")
    output.write(contents)
    output.close()

main(contents, filename)
webbrowser.open(filename)

if(conn.is_connected()):
    cursor.close()
    conn.close()
    print("MySQL connection is closed.")

Connected Successfully
MySQL connection is closed.

In [26]:
db=mysql.connector.connect(host="localhost", user="root", password=password,database="bincomphptest")

cursor=db.cursor()

query="""SELECT announced_pu_results.polling_unit_uniqueid,announced_pu_results.party_abbreviation,announced_pu_results.party_score,lga.lga_name
FROM announced_pu_results INNER JOIN lga ON announced_pu_results.user_ip_address=lga.user_ip_address"""
cursor.execute(query)
rows=cursor.fetchall()
for x in rows:
   print(x)

In [27]:
mycursor = db.cursor()
mycursor.execute("DESCRIBE announced_pu_results")
announced_pu_results_columns = [x[0] for x in mycursor.fetchall()]

# get the list of column names for table2
mycursor.execute("DESCRIBE lga")
lga_columns = [x[0] for x in mycursor.fetchall()]

# compare the two lists of column names
if announced_pu_results_columns == lga_columns:
  print("The columns in table1 and table2 match.")
else:
  print("The columns in table1 and table2 do not match.")

The columns in table1 and table2 do not match.

In [28]:
mycursor = db.cursor()
mycursor.execute("SHOW COLUMNS FROM announced_pu_results")
table1_columns = [x[0] for x in mycursor.fetchall()]

mycursor.execute("SHOW COLUMNS FROM lga")
table2_columns = [x[0] for x in mycursor.fetchall()]

# find the common columns between the two tables
common_columns = set(table1_columns).intersection(set(table2_columns))

# compare the common columns between the two tables
if common_columns:
  for column in common_columns:
    # check if the data types match for the common columns
    mycursor.execute(f"SELECT DATA_TYPE FROM INFORMATION_SCHEMA.COLUMNS WHERE TABLE_NAME = 'announced_pu_results' AND COLUMN_NAME = '{column}'")
    table1_data_type = mycursor.fetchone()[0]
    mycursor.execute(f"SELECT DATA_TYPE FROM INFORMATION_SCHEMA.COLUMNS WHERE TABLE_NAME = 'lga' AND COLUMN_NAME = '{column}'")
    table2_data_type = mycursor.fetchone()[0]

    if table1_data_type != table2_data_type:
      print(f"The data types for the {column} column do not match.")
      break
  else:
    print("The common columns in announced_pu_results and lga match in both name and data type.")
else:
  print("There are no common columns between announced_pu_results and lga.")

The common columns in announced_pu_results and lga match in both name and data type.

In [32]:
mycursor = db.cursor()
mycursor.execute("SHOW COLUMNS FROM announced_pu_results ")
table1_columns = [x[0] for x in mycursor.fetchall()]
mycursor.execute("SHOW COLUMNS FROM lga")
table2_columns = [x[0] for x in mycursor.fetchall()]
common_columns = set(table1_columns).intersection(set(table2_columns))

if len(common_columns) == 0:
    print("The two tables don't have any common columns")

else:
  select_columns = "announced_pu_results.polling_unit_uniqueid, announced_pu_results.party_abbreviation, announced_pu_results.party_score"
  join_query = f"SELECT {select_columns} FROM announced_pu_results JOIN lga ON "
  for column in common_columns:
     join_query += f"announced_pu_results.{column} = lga.{column} AND "
  join_query = join_query[:-5]

  mycursor.execute(join_query)
  result = mycursor.fetchall()

  for row in result:
    print(row)

In [5]:
cursor = mydb.cursor()

sql_query = "SELECT party_abbreviation, COUNT(*) FROM announced_pu_results GROUP BY party_abbreviation"
cursor.execute(sql_query)

# Fetch all rows
rows = cursor.fetchall()

# Print each row
for row in rows:
    print(row)

('PDP', 19)
('DPP', 19)
('ACN', 19)
('PPA', 19)
('CDC', 19)
('JP', 19)
('ANPP', 14)
('LABO', 13)
('CPP', 9)

In [6]:
cursor = mydb.cursor()

sql_query = "SELECT COUNT(party_score), party_abbreviation FROM announced_pu_results GROUP BY party_abbreviation ORDER BY COUNT(party_score) DESC"
cursor.execute(sql_query)

rows = cursor.fetchall()

for row in rows:
    print(row)

(19, 'PDP')
(19, 'DPP')
(19, 'ACN')
(19, 'PPA')
(19, 'CDC')
(19, 'JP')
(14, 'ANPP')
(13, 'LABO')
(9, 'CPP')

### 3. SOLUTION

In [7]:
cursor = mydb.cursor()

sql_query = "SELECT party_abbreviation, SUM(party_score) party_score FROM announced_pu_results GROUP BY party_abbreviation"
cursor.execute(sql_query)

rows = cursor.fetchall()

for row in rows:
    print(row)

('PDP', Decimal('14896'))
('DPP', Decimal('12102'))
('ACN', Decimal('9960'))
('PPA', Decimal('11668'))
('CDC', Decimal('9543'))
('JP', Decimal('8759'))
('ANPP', Decimal('10413'))
('LABO', Decimal('7600'))
('CPP', Decimal('3864'))

In [9]:
with open('output.html', 'w') as f:
    f.write('<html>\n<head>\n<title>Output Table</title>\n</head>\n<body>\n')
    f.write('<table>\n<thead>\n<tr><th>Party Abbreviation</th><th>Party Score</th></tr>\n</thead>\n<tbody>\n')
    for row in rows:
        f.write(f'<tr><td>{row[0]}</td><td>{row[1]}</td></tr>\n')
    f.write('</tbody>\n</table>\n</body>\n</html>\n')

webbrowser.open('output.html')

True

In [11]:
cur = mydb.cursor()

cur.execute("SELECT DISTINCT polling_unit_id FROM polling_unit")

results = cur.fetchall()

for row in results:
    print(row[0])

6
4
5
1
16
13
9
7
11
3
2
14
8
12
10
15
17
21
18
51
31
0

In [12]:
cur = mydb.cursor()

cur.execute("SELECT DISTINCT polling_unit_uniqueid FROM announced_pu_results")

results = cur.fetchall()

for row in results:
    print(row[0])

8
9
10
11
12
13
15
16
18
19
20
21
24
23
22
25
26
27

In [13]:
cur = mydb.cursor()

cur.execute("SELECT DISTINCT uniqueid FROM polling_unit")

results = cur.fetchall()

for row in results:
    print(row[0])

8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122
123
124
125
126
127
128
129
130
131
132
133
134
135
136
137
138
139
140
141
142
143
144
145
146
147
148
149
150
151
152
153
154
155
156
157
158
159
160
161
162
163
164
165
166
167
168
169
170
171
172
173
174
175
176
177
178
179
180
181
182
183
184
185
186
187
188
189
190
191
192
193
194
195
196
197
198
199
200
201
202
203
204
205
206
207
208
209
210
211
212
213
214
215
216
217
218
219
220
221
222
223
224
225
226
227
228
229
230
231
232
233
234
235
236
237
238
239
240
241
242
243
244
245
246
247
248
249
250
251
252
253
254
255
256
257
258
259
260
261
262
263
264
265
266
267
268
269
270
271
272
273
274
275
276
277
278
279

In [14]:
cur.execute("""
    SELECT * 
    FROM polling_unit
    WHERE uniqueid IN (SELECT polling_unit_uniqueid FROM announced_pu_results)
""")

results = cur.fetchall()
for row in results:
    print(row)

(8, 6, 8, 17, 181, 'DT1708006', 'Sapele Ward 8 PU _', None, '5.59371889', '5.999311165', None, None, None)
(9, 4, 1, 19, 194, 'DT1901004', 'Primary School in Aghara', 'Primary School in Aghara', '5.599585986', '6.001336288', None, None, None)
(10, 5, 1, 19, 194, 'DT1401005', 'Ishere Primary School  Aghara', 'Ishere Primary School Aghara', '5.595722496', '5.99961724', None, None, None)
(11, 5, 3, 34, 244, 'DT3403005', 'Igini Primary School', ' Esisi Road', '5.602005475', '6.001611141', None, None, None)
(12, 1, 4, 21, 220, 'DT2104001', 'Umukwapa poll unit 1', None, '5.596383741', '5.99023883', None, None, None)
(13, 16, 1, 22, 223, 'DT2201016', 'Church in Effurun1 Ovie', 'Church in Effurun1 Ovie', '5.59759314', '5.991187248', None, None, None)
(15, 13, 1, 22, 224, 'DT2201013', 'Effurun 2 in Uvwie', 'Effurun 2 in Uvwie', '5.904090609', '5.729854354', None, None, None)
(16, 5, 7, 7, 59, 'DT0607005', 'school in ethiope west', 'school in ethiope west', '5.895063582', '5.730405695', None, None, None)
(18, 7, 1, 22, 223, 'DT2201007', 'Customary Court P.t.i Road', 'Customary Court P.t.i Road', '5.904025184', '5.735836456', None, None, None)
(19, 11, 2, 22, 224, 'DT2202011', 'effurun 2', 'effurun 2', '5.903925673', '5.736211371', None, None, None)
(20, 1, 9, 35, 262, 'DT3501001', 'asumbo town hall1', 'asumbo town hall1', '5.879748019', '5.73172331', None, None, None)
(21, 3, 2, 22, 224, 'DT2202003', 'eki-otoi', None, '5.876600455', '5.729696257', None, None, None)
(24, 4, 8, 6, 60, 'Dt0608004', 'aghara ii', 'aghara ii', '5.910613554', '5.768823319', None, None, None)
(23, 6, 8, 6, 60, 'DT0608006', 'aghara ii', 'aghara ii', '5.879594849', '5.731894945', None, None, None)
(22, 3, 7, 6, 59, 'DT0607003', 'pollling 3 in agbara', 'pollling 3 in agbara', '5.900635513', '5.72786891', None, None, None)
(25, 6, 9, 35, 262, 'DT3509006', 'obiteogbon quarters', 'obiteogbon quarters', '5.915854854', '5.775345359', None, None, None)
(26, 7, 9, 35, 262, 'DT3509007', 'okegbe quarter1', 'okegbe quarter1', '5.916066505', '5.775475401', None, None, None)
(27, 2, 7, 6, 59, 'DT0607002', 'agbasa 1', 'agbasa 1', '5.916323572', '5.775769489', None, None, None)

### 2. Solution

In [20]:
mycursor = mydb.cursor()

mycursor.execute("""
    SELECT p.*, l.lga_name 
    FROM polling_unit p
    JOIN lga l ON p.polling_unit_id = l.lga_id
    WHERE p.uniqueid IN (SELECT polling_unit_uniqueid FROM announced_pu_results)
""")

results = mycursor.fetchall()
for row in results:
    print(row)

(8, 6, 8, 17, 181, 'DT1708006', 'Sapele Ward 8 PU _', None, '5.59371889', '5.999311165', None, None, None, 'Ethiope West')
(10, 5, 1, 19, 194, 'DT1401005', 'Ishere Primary School  Aghara', 'Ishere Primary School Aghara', '5.595722496', '5.99961724', None, None, None, 'Ethiope East')
(11, 5, 3, 34, 244, 'DT3403005', 'Igini Primary School', ' Esisi Road', '5.602005475', '6.001611141', None, None, None, 'Ethiope East')
(12, 1, 4, 21, 220, 'DT2104001', 'Umukwapa poll unit 1', None, '5.596383741', '5.99023883', None, None, None, 'Aniocha North')
(13, 16, 1, 22, 223, 'DT2201016', 'Church in Effurun1 Ovie', 'Church in Effurun1 Ovie', '5.59759314', '5.991187248', None, None, None, 'Patani')
(15, 13, 1, 22, 224, 'DT2201013', 'Effurun 2 in Uvwie', 'Effurun 2 in Uvwie', '5.904090609', '5.729854354', None, None, None, 'Okpe')
(16, 5, 7, 7, 59, 'DT0607005', 'school in ethiope west', 'school in ethiope west', '5.895063582', '5.730405695', None, None, None, 'Ethiope East')
(18, 7, 1, 22, 223, 'DT2201007', 'Customary Court P.t.i Road', 'Customary Court P.t.i Road', '5.904025184', '5.735836456', None, None, None, 'Ika North - East')
(19, 11, 2, 22, 224, 'DT2202011', 'effurun 2', 'effurun 2', '5.903925673', '5.736211371', None, None, None, 'Ndokwa East')
(20, 1, 9, 35, 262, 'DT3501001', 'asumbo town hall1', 'asumbo town hall1', '5.879748019', '5.73172331', None, None, None, 'Aniocha North')
(23, 6, 8, 6, 60, 'DT0608006', 'aghara ii', 'aghara ii', '5.879594849', '5.731894945', None, None, None, 'Ethiope West')
(25, 6, 9, 35, 262, 'DT3509006', 'obiteogbon quarters', 'obiteogbon quarters', '5.915854854', '5.775345359', None, None, None, 'Ethiope West')
(26, 7, 9, 35, 262, 'DT3509007', 'okegbe quarter1', 'okegbe quarter1', '5.916066505', '5.775475401', None, None, None, 'Ika North - East')
(27, 2, 7, 6, 59, 'DT0607002', 'agbasa 1', 'agbasa 1', '5.916323572', '5.775769489', None, None, None, 'Aniocha - South')